designs/pages/landing.json
[
    {
        "id": "sd_vZHcBtljfUPobTYZ",
        "type": "tab",
        "createdDate": "2024-08-08T12:27:30.645Z",
        "label": "landing",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_IyWLMfwB7365oMvs",
        "type": "OnInit",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_IyWLMfwB7365oMvs",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 60,
        "wires": [
            [
                "sd_sf6SVLHQZghaqi1j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_sf6SVLHQZghaqi1j",
        "type": "PageVariables",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "ssdURL",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_sf6SVLHQZghaqi1j",
        "category": "Function",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_c4TARBQ5mYGuZWal"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_dBBFMOIb3BKX4l2n",
        "type": "PageStart",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Edit Item",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "item",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "editItem",
        "category": "General",
        "x": 65,
        "y": 180,
        "wires": [
            [
                "sd_UrdHOtaUFUayeco3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_mi7WNiGTsnUIYXts",
        "type": "PageStart",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Delete Item",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "item",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "deleteItem",
        "category": "General",
        "x": 65,
        "y": 300,
        "wires": [
            [
                "sd_RIEhiE3FrKYP0g2N"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_c4TARBQ5mYGuZWal",
        "type": "Environment",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_c4TARBQ5mYGuZWal",
        "category": "General",
        "x": 285,
        "y": 80,
        "wires": [
            [
                "sd_NVAt11xtijlJcHp2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_Es4vsdfZ42mJKxzG",
        "type": "PageStart",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Get Cards",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getCards",
        "category": "General",
        "x": 65,
        "y": 420,
        "wires": [
            [
                "sd_GAW34YyIqF5KrsWD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_GAW34YyIqF5KrsWD",
        "type": "Script",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + '/get-cards';\npage.showSpinner = true;",
        "functionName": "sd_GAW34YyIqF5KrsWD",
        "category": "Function",
        "x": 165,
        "y": 420,
        "wires": [
            [
                "sd_Ny708W9WCeGxiubR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_Ny708W9WCeGxiubR",
        "type": "HttpRequest",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.body",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_Ny708W9WCeGxiubR",
        "category": "HTTP",
        "x": 265,
        "y": 420,
        "wires": [
            [
                "sd_6FlkidG2rVWaVcl7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_6FlkidG2rVWaVcl7",
        "type": "Script",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.cardItems = page.result;\npage.showSpinner = false;",
        "functionName": "sd_6FlkidG2rVWaVcl7",
        "category": "Function",
        "x": 365,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_NVAt11xtijlJcHp2",
        "type": "PageCallService",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_vZHcBtljfUPobTYZ",
            "type": "tab",
            "createdDate": "2024-08-08T12:27:30.645Z",
            "label": "landing",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_Es4vsdfZ42mJKxzG",
            "flowName": "getCards"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "getCards",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_NVAt11xtijlJcHp2",
        "category": "General",
        "x": 405,
        "y": 80,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_RIEhiE3FrKYP0g2N",
        "type": "Script",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + '/delete-card';\nbh.body = bh.input.item;\npage.showSpinner = true;",
        "functionName": "sd_RIEhiE3FrKYP0g2N",
        "category": "Function",
        "x": 165,
        "y": 300,
        "wires": [
            [
                "sd_M5oizHnjUo7CFFje"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_M5oizHnjUo7CFFje",
        "type": "HttpRequest",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "delete",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_M5oizHnjUo7CFFje",
        "category": "HTTP",
        "x": 265,
        "y": 300,
        "wires": [
            [
                "sd_q33YLLwtzq19GHWK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_q33YLLwtzq19GHWK",
        "type": "Script",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;",
        "functionName": "sd_q33YLLwtzq19GHWK",
        "category": "Function",
        "x": 385,
        "y": 300,
        "wires": [
            [
                "sd_2ptAaygDDWTwlGpq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_2ptAaygDDWTwlGpq",
        "type": "PageSwitch",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "this.page",
        "propertyGv": "this.page.result.message",
        "rules": [
            {
                "t": "se",
                "v": "Card deleted successfully",
                "vt": "str",
                "gv": "\"Card deleted successfully\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_2ptAaygDDWTwlGpq",
        "category": "Function",
        "x": 505,
        "y": 300,
        "wires": [
            [
                "sd_s880PO8wTOyHn5Bq"
            ],
            [
                "sd_Nr9cUe07bkw1rQpy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_yE17jeXyswjjc05a",
        "type": "SnackBar",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Card deleted successfully"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_yE17jeXyswjjc05a",
        "category": "General",
        "x": 725,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_Nr9cUe07bkw1rQpy",
        "type": "SnackBar",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Something went wrong"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_Nr9cUe07bkw1rQpy",
        "category": "General",
        "x": 625,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_s880PO8wTOyHn5Bq",
        "type": "PageCallService",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_vZHcBtljfUPobTYZ",
            "type": "tab",
            "createdDate": "2024-08-08T12:27:30.645Z",
            "label": "landing",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_Es4vsdfZ42mJKxzG",
            "flowName": "getCards"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "getCards",
        "inputParams": [],
        "accept_csd": false,
        "functionName": "sd_s880PO8wTOyHn5Bq",
        "category": "General",
        "x": 625,
        "y": 240,
        "wires": [
            [
                "sd_yE17jeXyswjjc05a"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_UrdHOtaUFUayeco3",
        "type": "OpenDialog",
        "z": "sd_vZHcBtljfUPobTYZ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_YcYJ8k1G8anWTy8L",
            "label": "register"
        },
        "relativePath": "app/components/register",
        "data": "bh.input.item",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": "this.page",
        "hasBackdrop": "this.page",
        "height": "\"80%\"",
        "maxHeight": "this.page",
        "minHeight": "this.page",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "this.page",
        "functionName": "sd_UrdHOtaUFUayeco3",
        "category": "Dialog",
        "x": 165,
        "y": 180,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh.input",
                "value": "item",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "str",
                "value": "80%",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    }
]
